BASE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SkeletonParserQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" name="QueryDisplayName" type="xs:string"/>
        <xs:element maxOccurs="unbounded" name="Directory">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DirectoryName" type="xs:string" />
              <xs:element name="DirectoryLabel" type="xs:string" />
              <xs:element name="DirectoryHostName" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ExcelOutput" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>          
              <xs:element name="ExcelOutputFolder" type="xs:string" minOccurs="1" maxOccurs="1"/>
              <xs:element name="ExcelOutputHLQ" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="XMLOutput" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name ="XMLOutputFolder" type="xs:string" minOccurs="1" maxOccurs="1" />
              <xs:element name="XMLOutputHLQ" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="FixedOutput" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Configuration" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ConfigurationName" type="xs:string" minOccurs="1"  maxOccurs="1"/>
                    <xs:element name="ConfigurationNumber" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name ="FixedOutputFolder" type="xs:string" minOccurs="1" maxOccurs="1"/>
              <xs:element name="FixedOutputHLQ" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="IgnoreSkel" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Unimbedded" type="xs:string >
          <xs:attribute name="Skeleton" type="xs:string"></xs:attribute>
          <xs:attribute name="Parent" type="xs:string"></xs:attribute>
          <xs:attribute name="NOFT" type="xs:boolean"></xs:attribute>
          <xs:attribute name="OPT" type="xs:boolean"></xs:attribute>
          <xs:attribute name="EXT" type="xs:boolean"></xs:attribute>
        </xs:element>
                    
        <xs:element name="DebugInputLine" type="xs:boolean" minOccurs="0" maxOccurs="1"/>

      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>